@model NerdDinner.Models.Dinner
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userName = Model.returnUsername(User.Identity.GetUserName());
    int? countryIdRepresentation;
    int addressRepresentation;
    int phoneRepresentation;
    if (Model.CountryId != null) {
        countryIdRepresentation = Model.CountryId;
    }
    else {
        countryIdRepresentation = 0;
    }
    if (Model.Address != null) {
        addressRepresentation = 1;
    }
    else {
        addressRepresentation = 0;
    }
    if (Model.Phone != null) {
        phoneRepresentation = 1;
    }
    else {
        phoneRepresentation = 0;
    }
}

<h2>@Model.Title</h2>

<p><b>Event Date: </b>@Model.EventDate.ToShortDateString() @Model.EventDate.ToShortTimeString()</p>

<p id="description"><b>Description: </b>@Model.Description</p>

@if (Model.Address != null)
{<p><b>Address: </b>@Model.Address </p>}

@if (Model.CountryId != null)
{<p><b>Country: </b>@Model.Country.Name </p>}

@if (Model.Phone != null)
{<p><b>Contact Phone #: </b>@Model.Phone </p>}

@if (Model.Host != null)
{<p><b>Host: </b>@Model.Host </p>}

<p>
    <b>Guests: </b>
    <text id="guests">
        @if (Model.Guests != null)
        {
            <span>@Model.Guests</span>              
        }
        else
        {
            <span id="default-msg">There are currently no other users RSVP'd to this dinner.</span>
        }
    </text>
</p>

@if (userName.Length >= 1 && Model.Host != userName)
{
    if (Model.isGuestInList(userName) == false)
    {
        <button id="rsvp-button" data-dinner-id="@Model.Id" class="btn btn-info">RSVP to this dinner</button>
    }
    else
    {
        <button id="rsvp-cancel" data-dinner-id="@Model.Id" class="btn btn-danger">Cancel RSVP</button>
    }
}
else if (Model.Host == userName)
{
    <p><i>You are the host of this dinner. Other users may RSVP to add themselves to the Guest list.</i></p>
}
else
{
    <p><i>Login to RSVP to this dinner</i></p>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            var address;
            var countryId;
            var phone;
            if (@addressRepresentation > 0) {
                address = "@Model.Address";
            }
            else {
                address = null;
            }
            if (@countryIdRepresentation > 0) {
                countryId = @countryIdRepresentation;
            }
            else {
                countryId = null;
            }
            if (@phoneRepresentation > 0) {
                phone = "@Model.Phone";
            }
            else {
                phone = null;
            }

            if (localStorage.getItem("Status") == "Added") {
                toastr.success("You have been added to the Guest list!");
                localStorage.clear();
            }
            if (localStorage.getItem("Status") == "Removed") {
                toastr.error("You have removed yourself from the Guest list.");
                localStorage.clear();
            }

            $("#rsvp-button").click(function () {
                    $.ajax({
                        type: 'PUT',
                        url: "/api/dinners/" + @Model.Id,
                        contentType: "application/json",
                        data: JSON.stringify({
                            "id": @Model.Id,
                            "title": "@Model.Title",
                            "eventDate": "@Model.EventDate",
                            "description": "@Model.Description",
                            "address": address,
                            "countryId": countryId,
                            "phone": phone,
                            "guests": "@Model.addGuestAndReturn(userName)"
                        }),
                        success: function (data) {
                            localStorage.setItem("Status", "Added");
                            location.reload();
                        }
                    });
            });

            $("#rsvp-cancel").click(function () {
                if (@Model.countGuests() > 1) {
                        $.ajax({
                            type: 'PUT',
                            url: "/api/dinners/" + @Model.Id,
                            contentType: "application/json",
                            data: JSON.stringify({
                                "id": @Model.Id,
                                "title": "@Model.Title",
                                "eventDate": "@Model.EventDate",
                                "description": "@Model.Description",
                                "address": address,
                                "countryId": countryId,
                                "phone": phone,
                                "guests": "@Model.removeGuestAndReturn(userName)"
                            }),
                            success: function (data) {
                                localStorage.setItem("Status", "Removed");
                                location.reload();
                            }
                        });
                }
                else
                {
                    $.ajax({
                        type: 'PUT',
                        url: "/api/dinners/" + @Model.Id,
                        contentType: "application/json",
                        data: JSON.stringify({
                            "id": @Model.Id,
                            "title": "@Model.Title",
                            "eventDate": "@Model.EventDate",
                            "description": "@Model.Description",
                            "address": address,
                            "countryId": countryId,
                            "phone": phone,
                            "guests": null
                        }),
                        success: function (data) {
                            localStorage.setItem("Status", "Removed");
                            location.reload();
                        }
                    });
                }
            });
        });
    </script>
}