@model IEnumerable<NerdDinner.Models.Dinner>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Dinners";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string email = User.Identity.GetUserName();
    string userName = "";
    char iterator;
    for (int i = 0; i < email.Length; i++)
    {
        iterator = email[i];
        if (iterator != '@')
        {
            userName = userName + iterator;
        }
        else
        {
            break;
        }
    }
}

<h2>Dinners</h2>

<p>

    @Html.ActionLink("Host Dinner", "New", "Dinners", null, new { @class = "btn btn-primary" })

</p>
@if (!Model.Any())
{
    <p>There are no dinners available yet.</p>
}
else
{
    <table id="dinners" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Dinner</th>
                <th>Event Date</th>
                <th>Description</th>
                <th>Address</th>
                <th>Country</th>
                <th>Contact Phone #</th>
                <th>Host</th>
                <th>Guests</th>
                <th style="min-width:80px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dinner in Model)
            {
                <tr>
                    <td>@Html.ActionLink(dinner.Title, "Details", "Dinners", new { id = dinner.Id }, null)</td>
                    <td>@dinner.EventDate.ToShortDateString() @dinner.EventDate.ToShortTimeString()</td>
                    <td>@dinner.Description</td>
                    <td>@if (dinner.Address != null) { @dinner.Address }</td>
                    <td>@if (dinner.CountryId != null) { @dinner.Country.Name }</td>
                    <td>@if (dinner.Phone != null) { @dinner.Phone }</td>
                    <td>@if (dinner.Host != null) { @dinner.Host }</td>
                    <td>@dinner.countGuests()</td>
                    <td>@Html.ActionLink("edit", "Edit", "Dinners", new { id = dinner.Id }, null) <button data-dinner-id="@dinner.Id" host="@dinner.Host" class="btn-link js-delete">delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#dinners").DataTable();

            $("#dinners").on("click", ".js-delete", function () {
                var button = $(this);
                if (button.attr("host") == "@userName") {
                    bootbox.confirm("Are you sure you want to delete this dinner?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/dinners/" + button.attr("data-dinner-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                }
                else
                {
                    bootbox.alert("You must be the host of the dinner to be able to delete it!");
                }
            });
        });
    </script>
}